﻿.cst-chart-dialog
    width 1000px
    top 30px
    .mdl-dialog__actions > * 
        height 56px
    .mdl-dialog__title
        font-size 24px
.cst-inactive
    color rgba(0, 0, 0, 0.3)

.cst-report-placeholder
    margin-bottom 400px
    text-align center

.cst-dict-performer
    margin 0
    padding 0
    li
        margin 0
        padding 0
    i
        font-size 20px
    input
        font-size 14px
    div
        width 890px
        padding 7px 0 7px 0

.cst-performer-holder
    width 1000px

.cst-parameters-list,
.cst-dict-list
    margin 0
    padding 0
    height 300px
    overflow-y auto
    li
        margin 0
        padding 0
    i
        font-size 20px
    input
        font-size 14px
    div
        width 290px
        padding 7px 0 7px 0

.cst-parameters-list
    height 350px

.cst-drawer-list
    margin 0
    padding 0
    li
        margin 0
        padding 0
    i
        font-size 18px
    input
        font-size 12px
    div
        width 200px
        padding 7px 0 7px 0

.cst-drawer
    width 280px
    padding 0 10px 0 10px

.cst-reports-holder
    width 1280px
    margin-top 30px

main
    margin 0 auto
    width 1280px

.cst-hidden
    display none

.cst-visible
    display block

.cst-progress-wrapper
    margin 30px auto
    width 500px

.cst-form-field,
.cst-form-field-wide
    width 225px
    padding 5px 0 5px 0

.cst-form-field-wide
    width 720px

.cst-no-margin-no-padding
    margin 0
    padding 0

.mdl-button--file {
    input {
        cursor: pointer;
        height: 100%;
        right: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 300px;
        z-index: 4;
    }
}

.mdl-textfield--file {
    .mdl-textfield__input {
        box-sizing: border-box;
        width: calc(100% - 32px);
    }
    .mdl-button--file {
        right: 0;
    }
}

.cst-card-10-of-12
    width 1040px

.cst-card-4-of-12
    width 405px

.cst-card-3-of-12
    width 305px

.cst-card-title-holder
    padding-bottom 0

.cst-dictionary-adder-input
    padding 5px 0 5px 0

/*
#templates
display none

.tab-loader
text-align center
    padding 200px
.cst-input-enabled
    color black !important

dialog {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#new-report-dialog
    width 1000px

.cst-popup-grid,
.cst-popup-row,
.cst-popup-cell
    overflow visible

.cst-popup
    z-index 200000
    position relative
    */
