.cst-empty-field
    border-bottom 1px solid black
.cst-align-center
    text-align center
.cst-align-right
    text-align right
.cst-logo-jpg,
.cst-logo-png
    background-position top right
    background-repeat no-repeat

.cst-logo-jpg
    background-image url(/img/performers-logo.jpg)

.cst-logo-png
    background-image url(/img/performers-logo.png)
    
.prn-underlined
    border-bottom 1px solid black
body
    background rgb(204,204,204) 
    margin-top .5cm

section.prn-portrait,
section.prn-landscape
    background white
    display block
    margin 0 auto
    margin-bottom 0.5cm
    box-shadow 0 0 0.5cm rgba(0,0,0,0.5)
    width 21cm
    height 29.7cm 
    padding 1cm 1cm 1cm 2cm

section.prn-landscape
    width 29.7cm 
    height 21cm

table, th, td
    border-collapse:collapse;
    border: 1px solid black;

table
    width 100%

#stages th:nth-child(1)
    width .5cm

#stages th:nth-child(3),
#stages th:nth-child(4),
#stages th:nth-child(5),
#stages th:nth-child(6),
#stages th:nth-child(7)
    width 1.7cm

/*
section
    margin 1cm 0cm 0cm 2cm
body {
    background: rgb(204,204,204); 
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
}
@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}
    */
