.svg-selected-zone {
    fill: rgba(0,0,0,.2)
}
.svg-start-selecting {
    stroke:orange
    stroke-width:1
    stroke-dasharray: 5,5
}
.svg-sight {
    stroke:silver
    stroke-width:1
}
.svg-overlay {
    fill: none;
    pointer-events: all;
}

.axis--x path {
    display: none;
}

.svg-volume {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.svg-consumption {
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
}

.svg-temperature {
    fill: none;
    stroke: orange;
    stroke-width: 1.5px;
}

.svg-density {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.svg-pressure1, 
.svg-pressure2, 
.svg-pressure3 
{
    fill: none;
    stroke: grey;
    stroke-width: 1.5px;
}

.svg-pressure2
    stroke: silver;
.svg-pressure3
    stroke: darkgrey;




