.svg-selected-zone {
  fill: rgba(0,0,0,0.2);
}
.svg-start-selecting {
  stroke: #ffa500;
  stroke-width: 1;
  stroke-dasharray: 5, 5;
}
.svg-sight {
  stroke: #c0c0c0;
  stroke-width: 1;
}
.svg-overlay {
  fill: none;
  pointer-events: all;
}
.axis--x path {
  display: none;
}
.svg-volume {
  fill: none;
  stroke: #4682b4;
  stroke-width: 1.5px;
}
.svg-consumption {
  fill: none;
  stroke: #008000;
  stroke-width: 1.5px;
}
.svg-temperature {
  fill: none;
  stroke: #ffa500;
  stroke-width: 1.5px;
}
.svg-density {
  fill: none;
  stroke: #4682b4;
  stroke-width: 1.5px;
}
.svg-pressure1,
.svg-pressure2,
.svg-pressure3 {
  fill: none;
  stroke: #808080;
  stroke-width: 1.5px;
}
.svg-pressure2 {
  stroke: #c0c0c0;
}
.svg-pressure3 {
  stroke: #a9a9a9;
}
