<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><link rel="stylesheet" href="css/dialog-polyfill.css"><link rel="stylesheet" href="css/material-icons.css"><link rel="stylesheet" href="css/material.min.css"><link rel="stylesheet" href="css/custom.css"><link rel="stylesheet" href="css/svg.css"><script src="js/vendor/material.min.js"></script><script src="js/vendor/require.min.js" data-main="js/main"></script><title>Veles</title></head><body><main><div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect"><div class="mdl-tabs__tab-bar"><a class="mdl-tabs__tab" href="#tab-monitor" onclick="require(['monitor'])">Монитор</a><a class="mdl-tabs__tab" href="#tab-dictionaries" onclick="require(['dictionaries'])">Справочники</a><a class="mdl-tabs__tab is-active" href="#tab-upload" onclick="require(['upload'])">Выгрузка</a><a class="mdl-tabs__tab" href="#tab-reports" onclick="require(['reports'])">Отчеты</a><a class="mdl-tabs__tab" href="#tab-settings" onclick="require(['settings'])">Настройки</a></div><div class="mdl-tabs__panel" id="tab-monitor"><div class="cst-progress-wrapper"><div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div></div><div class="cst-hidden"></div></div><div class="mdl-tabs__panel" id="tab-dictionaries"><div class="cst-progress-wrapper"><div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div></div><div class="cst-hidden"></div></div><div class="mdl-tabs__panel is-active" id="tab-upload"><div class="cst-progress-wrapper"><div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div></div><div class="cst-hidden"></div></div><div class="mdl-tabs__panel" id="tab-reports"><div class="cst-progress-wrapper"><div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div></div><div class="cst-hidden"></div></div><div class="mdl-tabs__panel" id="tab-settings"><div class="cst-progress-wrapper"><div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div></div><div class="cst-hidden"></div></div></div></main><div class="cst-hidden" id="stuff"><template id="template-chart-footer"><div class='cst-chart-footer' :id='chartid'>
  <h6>Показать:&nbsp; 
  <chart-footer-radio :paramid='param' v-for='param in "all consumption temperature density pressure1 pressure2 pressure3".split(" ")' />
  </h6>
</div></template><template id="template-chart-footer-radio"><span>
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" :for="$parent.chartid + '-' + paramid">
  <input type="radio" 
      :id="$parent.chartid + '-' + paramid" 
      :name="$parent.chartid + '-lines'" 
      :value="paramid" 
      :checked="paramid === 'all'"
      class="mdl-radio__button" 
      @click='showLines()' /> 
</label>
{{title}}
&nbsp;
</span></template><template id="template-card-8-of-12-holder"><div :id='cardid' class='cst-card-holder'>
<card-8-of-12 :title='title'>
</div></template><template id="template-card-10-of-12-holder"><div :id='cardid' class='cst-card-holder'>
<card-10-of-12 :title='title'>
</div></template><template id="template-card-6-of-12-holder"><div :id='cardid' class='cst-card-holder'>
<card-6-of-12 :title='title'>
</div></template><template id="template-card-4-of-12-holder"><div :id='cardid' class='cst-card-holder'>
<card-4-of-12 :title='title'>
</div></template><template id="template-card-3-of-12-holder"><div :id='cardid' class='cst-card-holder'>
<card-3-of-12 :title='title'>
</div></template><template id="template-card-6-of-12"><div class="mdl-card mdl-shadow--2dp cst-card-6-of-12"><div class="mdl-card__title cst-card-title-holder"><h4 class="mdl-card__title-text">{{title}}</h4></div><div class="mdl-card__supporting-text"></div></div></template><template id="template-card-8-of-12"><div class="mdl-card mdl-shadow--2dp cst-card-8-of-12"><div class="mdl-card__title cst-card-title-holder"><h4 class="mdl-card__title-text">{{title}}</h4></div><div class="mdl-card__supporting-text"></div></div></template><template id="template-card-10-of-12"><div class="mdl-card mdl-shadow--2dp cst-card-10-of-12"><div class="mdl-card__title cst-card-title-holder"><h4 class="mdl-card__title-text">{{title}}</h4></div><div class="mdl-card__supporting-text"></div></div></template><template id="template-card-4-of-12"><div class="mdl-card mdl-shadow--2dp cst-card-4-of-12"><div class="mdl-card__title cst-card-title-holder"><h4 class="mdl-card__title-text">{{title}}</h4></div><div class="mdl-card__supporting-text"></div></div></template><template id="template-card-3-of-12"><div class="mdl-card mdl-shadow--2dp cst-card-3-of-12"><div class="mdl-card__title cst-card-title-holder"><h4 class="mdl-card__title-text">{{title}}</h4></div><div class="mdl-card__supporting-text"></div></div></template><template id="template-row-1-of-1-6"><div class="mdl-grid"><div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset"><card-6-of-12-holder :title='title' :cardid='cardid'></div></div></template><template id="template-row-1-of-1-8"><div class="mdl-grid"><div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset"><card-8-of-12-holder :title='title' :cardid='cardid'></div></div></template><template id="template-row-1-of-1-10"><div class="mdl-grid"><div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset"><card-10-of-12-holder :title='title' :cardid='cardid'></div></div></template><template id="template-row-1-of-3"><div class="mdl-grid"><div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset"><card-4-of-12-holder :title='title' :cardid='cardid'></div></div></template><template id="template-row-2-of-4"><div class="mdl-grid"><div class="mdl-cell mdl-cell--3-col mdl-cell--3-offset"><card-3-of-12-holder :title='title1' :cardid='cardid1'></div><div class="mdl-cell mdl-cell--3-col"><card-3-of-12-holder :title='title2' :cardid='cardid2'></div></div></template><template id="template-row-3-of-3"><div class="mdl-grid"><div class="mdl-cell mdl-cell--4-col"><card-4-of-12-holder :title='title1' :cardid='cardid1'></div><div class="mdl-cell mdl-cell--4-col"><card-4-of-12-holder :title='title2' :cardid='cardid2'></div><div class="mdl-cell mdl-cell--4-col"><card-4-of-12-holder :title='title3' :cardid='cardid3'></div></div></template><template id="template-row-4-of-4"><div class="mdl-grid"><div class="mdl-cell mdl-cell--3-col"><card-3-of-12-holder :title='title1' :cardid='cardid1'></div><div class="mdl-cell mdl-cell--3-col"><card-3-of-12-holder :title='title2' :cardid='cardid2'></div><div class="mdl-cell mdl-cell--3-col"></div></div></template><template id="template-popup-item"><li class="mdl-menu__item" @click='selectIt'>{{name}}</li></template><template id="template-popup-menu"><div class="cst-popup"><button :id="dict + '-choice'" class="mdl-button mdl-js-button mdl-button--icon" title='Выбрать из списка'>
<i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" :for="dict + '-choice'">
<popup-item v-for='item in getItems()' :name='item.name' :item='item.id' :dict='dict'></popup-item>
</ul>
<label mdl-navigation__link>{{label}}</label></div></template><template id="template-dictionary"><form :id='dictid' :name='dictid'>
<ul :class="'mdl-list ' + dictclass">
<dict-item v-for="id in getItems()" :itemid='id' :itemvalue='getValue(id)'>
</ul></template><template id="template-dictionary-item"><li class="mdl-list__item cst-no-margin-no-padding"><span class="mdl-list__item-primary-content" @click="clickIt"><div class="mdl-textfield mdl-js-textfield"><input class="mdl-textfield__input" type="text" :id="itemid" :name="itemid" :value='itemvalue' @change='saveIt' disabled='disabled'></div></span><span class="mdl-list__item-secondary-content"><a class="mdl-list__item-secondary-action" href="#"><i class="material-icons cst-inactive" v-if="$parent.clickable == &quot;true&quot; || clickable == &quot;true&quot;">star</i><i class="material-icons" @click="editIt" v-if="$parent.editable  == &quot;true&quot; || editable  == &quot;true&quot;">edit</i><i class="material-icons" @click="deleteIt" v-if="$parent.deletable == &quot;true&quot; || deletable == &quot;true&quot;">delete</i></a></span></li></template><template id="template-dictionary-adder"><div class="mdl-card__actions mdl-card--border"><div class="mdl-grid cst-no-margin-no-padding"><div class="mdl-cell mdl-cell--9-col"><div class="mdl-textfield mdl-js-textfield cst-dictionary-adder-input"><input class="mdl-textfield__input" type="text"></div></div><div class="mdl-cell mdl-cell--3-col" style="text-align: right;"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='addIt' title='Добавить'>
  <i class="material-icons">add</i>
</button><!-- a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cst-dictionaty-adder-submit" @click='addIt') Добавить--></div></div></div></template><template id="template-form-field"><li class="mdl-list__item cst-no-margin-no-padding"><span class="mdl-list__item-primary-content"><label>{{label}}</label></span><span class="mdl-list__item-secondary-content">  <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" v-if="type === 'file'">
      <input class="mdl-textfield__input" placeholder="Выберите" type="text" id="uploadable-file-name" readonly/>
      <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
          <i class="material-icons">attach_file</i><input type="file" @change='setFileName' id="uploadable-file" :name='input'>
      </div>
  </div>
  <div :class="'mdl-textfield mdl-js-textfield cst-form-field' + (wide === 'true' ? '-wide' : '')" v-else>
      <input class="mdl-textfield__input" type="text" :name='input' :value='inputvalue'>
  </div></span></li></template><template id="template-tab-upload"><form action="/json/upload/csv" target="upload-frame" name="upload-form" method="post" enctype="multipart/form-data"><div class="mdl-grid"><div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset"><h4>Выгрузка данных сессии на сервер</h4></div><div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset"><ul class="mdl-list cst-no-margin-no-padding"><form-field label="Дата начала работ" input="date"></form-field><form-field label="Месторождение" input="field"></form-field><form-field label="Куст" input="bush"></form-field><form-field label="Скважина" input="well"></form-field><form-field label="Файл" input="csv-file" type="file"></form-field></ul><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Выгрузить"></div><div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset"><h4>Технические требования к заполнению формы</h4><ol><li>Все поля обязательны для заполнения.</li><li>Дата в формате ГГГГ-ММ-ДД ЧЧ:ММ (год, месяц, число, часы, минуты), например <code>2015-03-18 11:22.</code></li><li>Значения полей "Месторождение", "Куст", "Скважина" - числовые.</li><li>Поле "Устройство" заполняется в произвольном формате.</li><li>Имя прикрепленного файла должно заканчиваться сочетанием .csv, например <code>data-12345.csv</code></li></ol><h4>Технические требования к структуре прикрепляемого файла</h4><ol> <li>Файл представляет собой текстовые данные в виде строк. </li><li>Каждая строка содержит последовательность значений параметров, заключенных в кавычки и разделенных запятыми (формат csv).</li><li>Если значение не содержит запятых, его можно не заключать в кавычки.</li><li>Последовательность параметров в рамках строки: Дата, Объем, Расход, Давление 1, Давление 2, Давление 3, Температура, Плотность.</li><li>Первая строка файла должна содержать заголовки полей: <code>date,volume,consumption,pressure1,pressure2,pressure3,temperature,density</code></li></ol><p>Примеры строк в рамках csv-файла:</p><pre><code>14.11.2015 17:58:12,47.9,0,0,,,0,</code></pre><pre><code>14.11.2015 17:58:52,"51,7",0,0,,,0,</code></pre><pre><code>"14.11.2015 17:59:12","44,7",0,0,,,0,</code></pre><p>Файл можно подготовить в ручном режиме с помощью электронных таблиц Excel, OpenOffice и т.п.</p></div></div></form></template><template id="template-tab-reports"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer cst-reports-holder"><div class="mdl-layout--fixed-header"><header class="mdl-layout__header"><div class="mdl-layout__header-row" style="visibility: hidden;"><div class="mdl-layout-spacer"></div><popup-menu label="Заказчики" dict="customers"></popup-menu><popup-menu label="Ответственные" dict="supervisors"></popup-menu><popup-menu label="Исполнители" dict="staff"></popup-menu><popup-menu label="Месторождения" dict="fields"></popup-menu><popup-menu label="Типы скважин" dict="welltypes"></popup-menu><popup-menu label="Типы работ" dict="worktypes"></popup-menu></div></header></div><div class="mdl-layout__drawer cst-drawer"><nav class="mdl-navigation"><dict dictid="reports" dictclass="cst-drawer-list" deletable="true" reverse="true" clickable="true"></dict></nav></div><div class="mdl-layout__content"><h4 class="cst-report-placeholder">Выберите отчет из списка.</h4></div></div></template><template id="template-tab-dictionaries"><div><row-3-of-3 cardid1="customers-dict" title1="Заказчики" cardid2="supervisors-dict" title2="Ответственные" cardid3="staff-dict" title3="Операторы"></row-3-of-3><row-3-of-3 cardid1="fields-dict" title1="Месторождения" cardid2="welltypes-dict" title2="Типы скважин" cardid3="worktypes-dict" title3="Типы работ"></row-3-of-3><row-1-of-3 cardid="devices-dict" title="Устройства"></row-1-of-3></div></template><template id="template-tab-settings"><div><form action="/json/upload/logo" target="upload-frame" name="performers-form" method="post" enctype="multipart/form-data"><div class="mdl-grid"><div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset"><h4>Реквизиты исполнителя</h4></div><div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset"><ul class="mdl-list cst-no-margin-no-padding"><form-field label="Наименование" input="performers-name"></form-field><form-field label="ИНН" input="performers-inn"></form-field><form-field label="Адрес" input="performers-address"></form-field></ul></div><div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset"><ul class="mdl-list cst-no-margin-no-padding"><form-field label="Телефон" input="performers-phone"></form-field><form-field label="E-mail" input="performers-email"></form-field><form-field label="Логотип" input="performers-logo" type="file"></form-field></ul></div><div class="mdl-cell mdl-cell--2-col mdl-cell--10-offset" style="text-align: right;"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='savePerformersData' title='Сохранить'>
  <i class="material-icons">save</i>
</button></div></div></form><row-1-of-3 cardid="parameters-dict" title="Отслеживаемые параметры"></row-1-of-3></div></template><template id="template-report-form-stage"><tr><td class="mdl-data-table__cell--non-numeric">{{title}}</td><td class="mdl-data-table__cell--non-numeric" style="width: 170px;">{{begin}}</td><td class="mdl-data-table__cell--non-numeric" style="width: 170px;">{{end}}</td><td align="center" style="width: 100px;"><a href="#"><i class="material-icons" @click="viewRow">  search</i><i class="material-icons" @click="deleteRow">delete</i></a></td></tr></template><template id="template-report-form"><div><form id="report-fields" name="report-form"><input type="hidden" name="stages"><div class="mdl-grid"><div class="mdl-cell mdl-cell--3-col mdl-cell--9-offset"><a :href='"/data/" + reportid + ".csv"' target=_blank>Скачать csv-файл</a></div><div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset"><form-field label='Дата начала'   input='date'      :inputvalue='date.replace("T", " ")' ></form-field>
<form-field label='Месторождение' input='of-fields' :inputvalue='field'></form-field>
<form-field label='Куст'          input='bush'      :inputvalue='bush' ></form-field>
<form-field label='Скважина'      input='well'      :inputvalue='well' ></form-field><form-field label="Тип скважины" input="of-welltypes"></form-field></div><div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset"><form-field label="Заказчик" input="of-customers"></form-field><form-field label="Ответственный №1" input="of-supervisors-1"></form-field><form-field label="Ответственный №2" input="of-supervisors-2"></form-field><form-field label="Исполнитель №1" input="of-staff-1"></form-field><form-field label="Исполнитель №2" input="of-staff-2"></form-field><form-field label="Исполнитель №3" input="of-staff-3"></form-field></div></div></form><div class="mdl-grid"><div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset" id="svg-holder"></div><div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset" id="svg-foot-holder"></div><div class="mdl-cell mdl-cell--2-col mdl-cell--2-offset"><label>Начало этапа</label></div><div class="mdl-cell mdl-cell--2-col"><label id="stage-begin"> </label></div><div class="mdl-cell mdl-cell--2-col mdl-cell--2-offset"><label>Окончание этапа</label></div><div class="mdl-cell mdl-cell--2-col"><label id="stage-end"> </label></div><div class="mdl-cell mdl-cell--2-col mdl-cell--1-offset"><h6 style="margin: 13px 0;">Название этапа</h6></div><div class="mdl-cell mdl-cell--6-col mdl-cell--1-offset"><form-field input="stage-title" wide="true" disabled="true"></form-field><input type="hidden" id="stage-id"></div><div class="mdl-cell mdl-cell--2-col" style="text-align: right;"><!-- button(class="mdl-button mdl-js-button mdl-button--raised" @click='addStage' id='stage-adder' disabled) Добавить--><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='addStage' id='stage-adder' disabled>
  <i class="material-icons">add</i>
</button></div><div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset"><h4>Данные закачки</h4></div><div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset"><table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;"><thead><tr><th class="mdl-data-table__cell--non-numeric">Название этапа</th><th class="mdl-data-table__cell--non-numeric">Начало этапа</th><th class="mdl-data-table__cell--non-numeric">Окончание этапа</th><th class="mdl-data-table__cell--non-numeric">Действия</th></tr></thead><tbody id="stage-holder"></tbody></table></div><div class="mdl-cell mdl-cell--2-col mdl-cell--10-offset" style="text-align: right;"><!-- button(class="mdl-button mdl-js-button mdl-button--raised" @click='doReport' id='report-doer') Сформировать--><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='saveReport' title='Сохранить'>
  <i class="material-icons">save</i>
</button>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='printReport' title='Подготовка к печати'>
  <i class="material-icons">print</i>
</button></div></div></div></template><iframe name="upload-frame" src="/upload-stub.html" onerror="this.location = &quot;/upload-stub.html&quot;">   </iframe></div><dialog class="mdl-dialog cst-chart-dialog"><h6 class="mdl-dialog__title">&nbsp;</h6><div class="mdl-dialog__content"><div class="chart-holder"></div></div><div class="mdl-dialog__actions"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" title='Закрыть'>
  <i class="material-icons">close</i>
</button></div></dialog></body></html>