doctype html
html(lang='ru')
    head
        include head
    body
        main
            include main-tabs
        #stuff.cst-hidden
            include templates-common
            include templates-tab-upload
            include templates-tab-reports
            include templates-tab-dictionaries
            include templates-tab-settings
            include templates-report-form
            iframe(name='upload-frame' src='/upload-stub.html' onerror='this.location = "/upload-stub.html"')    
        include templates-dialogs
