- var tabs = []
- tabs.push({label: 'Монитор',     id: 'monitor',      addClass: '',}) 
- tabs.push({label: 'Справочники', id: 'dictionaries', addClass: '',})
- tabs.push({label: 'Выгрузка',    id: 'upload',       addClass: ' is-active',})
- tabs.push({label: 'Отчеты',      id: 'reports',      addClass: '',})
- tabs.push({label: 'Настройки',   id: 'settings',     addClass: '',}) 

div(class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect")
    .mdl-tabs__tab-bar
        - tabs.forEach(function(tab){
            a(href="#tab-"+tab.id class="mdl-tabs__tab"+tab.addClass onclick="require(['"+tab.id+"'])") #{tab.label}
        - })
    - tabs.forEach(function(tab){
        div(id="tab-"+tab.id class="mdl-tabs__panel"+tab.addClass)
            .cst-progress-wrapper
                .mdl-progress.mdl-js-progress.mdl-progress__indeterminate
            .cst-hidden
    - })
