template#template-tab-upload
    form(action='/json/upload/csv' target='upload-frame' name='upload-form' method="post" enctype="multipart/form-data")
        .mdl-grid
            .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset
                h4 Выгрузка данных сессии на сервер
            .mdl-cell.mdl-cell--4-col.mdl-cell--2-offset
                ul(class="mdl-list cst-no-margin-no-padding")
                    form-field(label='Дата начала работ' input='date')
                    form-field(label='Месторождение'     input='field')
                    form-field(label='Куст'              input='bush')
                    form-field(label='Скважина'          input='well')
                    form-field(label='Файл'              input='csv-file' type='file')
                input(type='submit' value='Выгрузить' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect")
            .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset
                h4 Технические требования к заполнению формы
                ol
                    li Все поля обязательны для заполнения.
                    li Дата в формате ГГГГ-ММ-ДД ЧЧ:ММ (год, месяц, число, часы, минуты), например 
                        code 2015-03-18 11:22.
                    li Значения полей "Месторождение", "Куст", "Скважина" - числовые.
                    li Поле "Устройство" заполняется в произвольном формате.
                    li Имя прикрепленного файла должно заканчиваться сочетанием .csv, например 
                        code data-12345.csv
                h4 Технические требования к структуре прикрепляемого файла
                ol 
                    li Файл представляет собой текстовые данные в виде строк. 
                    li Каждая строка содержит последовательность значений параметров, заключенных в кавычки и разделенных запятыми (формат csv).
                    li Если значение не содержит запятых, его можно не заключать в кавычки.
                    li Последовательность параметров в рамках строки: Дата, Объем, Расход, Давление 1, Давление 2, Давление 3, Температура, Плотность.
                    li Первая строка файла должна содержать заголовки полей: 
                        code date,volume,consumption,pressure1,pressure2,pressure3,temperature,density

                p Примеры строк в рамках csv-файла:

                pre
                    code
                        | 14.11.2015 17:58:12,47.9,0,0,,,0,
                pre
                    code
                        | 14.11.2015 17:58:52,"51,7",0,0,,,0,
                pre
                    code
                        | "14.11.2015 17:59:12","44,7",0,0,,,0,

                p Файл можно подготовить в ручном режиме с помощью электронных таблиц Excel, OpenOffice и т.п.
