template#template-chart-footer
    | <div class='cst-chart-footer' :id='chartid'>
    |   <h6>Показать:&nbsp; 
    |   <chart-footer-radio :paramid='param' v-for='param in "all consumption temperature density pressure1 pressure2 pressure3".split(" ")' />
    |   </h6>
    | </div>
    
template#template-chart-footer-radio
    | <span>
    | <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" :for="$parent.chartid + '-' + paramid">
    |   <input type="radio" 
    |       :id="$parent.chartid + '-' + paramid" 
    |       :name="$parent.chartid + '-lines'" 
    |       :value="paramid" 
    |       :checked="paramid === 'all'"
    |       class="mdl-radio__button" 
    |       @click='showLines()' /> 
    | </label>
    | {{title}}
    | &nbsp;
    | </span>

template#template-card-8-of-12-holder
    | <div :id='cardid' class='cst-card-holder'>
    | <card-8-of-12 :title='title'>
    | </div>

template#template-card-10-of-12-holder
    | <div :id='cardid' class='cst-card-holder'>
    | <card-10-of-12 :title='title'>
    | </div>

template#template-card-6-of-12-holder
    | <div :id='cardid' class='cst-card-holder'>
    | <card-6-of-12 :title='title'>
    | </div>
    
template#template-card-4-of-12-holder
    | <div :id='cardid' class='cst-card-holder'>
    | <card-4-of-12 :title='title'>
    | </div>

template#template-card-3-of-12-holder
    | <div :id='cardid' class='cst-card-holder'>
    | <card-3-of-12 :title='title'>
    | </div>
    
template#template-card-6-of-12
    .mdl-card.mdl-shadow--2dp.cst-card-6-of-12
        .mdl-card__title.cst-card-title-holder
            h4(class="mdl-card__title-text") {{title}}
        .mdl-card__supporting-text
    
template#template-card-8-of-12
    .mdl-card.mdl-shadow--2dp.cst-card-8-of-12
        .mdl-card__title.cst-card-title-holder
            h4(class="mdl-card__title-text") {{title}}
        .mdl-card__supporting-text
    
template#template-card-10-of-12
    .mdl-card.mdl-shadow--2dp.cst-card-10-of-12
        .mdl-card__title.cst-card-title-holder
            h4(class="mdl-card__title-text") {{title}}
        .mdl-card__supporting-text
    
template#template-card-4-of-12
    .mdl-card.mdl-shadow--2dp.cst-card-4-of-12
        .mdl-card__title.cst-card-title-holder
            h4(class="mdl-card__title-text") {{title}}
        .mdl-card__supporting-text

template#template-card-3-of-12
    .mdl-card.mdl-shadow--2dp.cst-card-3-of-12
        .mdl-card__title.cst-card-title-holder
            h4(class="mdl-card__title-text") {{title}}
        .mdl-card__supporting-text

template#template-row-1-of-1-6
    .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--3-offset
            | <card-6-of-12-holder :title='title' :cardid='cardid'>

template#template-row-1-of-1-8
    .mdl-grid
        .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset
            | <card-8-of-12-holder :title='title' :cardid='cardid'>

template#template-row-1-of-1-10
    .mdl-grid
        .mdl-cell.mdl-cell--10-col.mdl-cell--1-offset
            | <card-10-of-12-holder :title='title' :cardid='cardid'>

template#template-row-1-of-3
    .mdl-grid
        .mdl-cell.mdl-cell--4-col.mdl-cell--4-offset
            | <card-4-of-12-holder :title='title' :cardid='cardid'>

template#template-row-2-of-4
    .mdl-grid
        .mdl-cell.mdl-cell--3-col.mdl-cell--3-offset
            | <card-3-of-12-holder :title='title1' :cardid='cardid1'>
        .mdl-cell.mdl-cell--3-col
            | <card-3-of-12-holder :title='title2' :cardid='cardid2'>

template#template-row-3-of-3
    .mdl-grid
        .mdl-cell.mdl-cell--4-col
            | <card-4-of-12-holder :title='title1' :cardid='cardid1'>
        .mdl-cell.mdl-cell--4-col
            | <card-4-of-12-holder :title='title2' :cardid='cardid2'>
        .mdl-cell.mdl-cell--4-col
            | <card-4-of-12-holder :title='title3' :cardid='cardid3'>

template#template-row-4-of-4
    .mdl-grid
        .mdl-cell.mdl-cell--3-col
            | <card-3-of-12-holder :title='title1' :cardid='cardid1'>
        .mdl-cell.mdl-cell--3-col
            | <card-3-of-12-holder :title='title2' :cardid='cardid2'>
        .mdl-cell.mdl-cell--3-col

template#template-popup-item
    | <li class="mdl-menu__item" @click='selectIt'>{{name}}</li>

template#template-popup-menu
    .cst-popup
        | <button :id="dict + '-choice'" class="mdl-button mdl-js-button mdl-button--icon" title='Выбрать из списка'>
        | <i class="material-icons">more_vert</i>
        | </button>
        | <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" :for="dict + '-choice'">
        | <popup-item v-for='item in getItems()' :name='item.name' :item='item.id' :dict='dict'></popup-item>
        | </ul>
        | <label mdl-navigation__link>{{label}}</label>

template#template-dictionary
    | <form :id='dictid' :name='dictid'>
    | <ul :class="'mdl-list ' + dictclass">
    | <dict-item v-for="id in getItems()" :itemid='id' :itemvalue='getValue(id)'>
    | </ul>


template#template-dictionary-item
    li.mdl-list__item.cst-no-margin-no-padding
        span.mdl-list__item-primary-content(@click='clickIt')
            .mdl-textfield.mdl-js-textfield
                | <input class="mdl-textfield__input" type="text" :id="itemid" :name="itemid" :value='itemvalue' @change='saveIt' disabled='disabled'>
        span.mdl-list__item-secondary-content
            a.mdl-list__item-secondary-action(href="#")
                i.material-icons.cst-inactive(v-if='$parent.clickable == "true" || clickable == "true"') star
                i.material-icons(@click='editIt'   v-if='$parent.editable  == "true" || editable  == "true"') edit
                i.material-icons(@click='deleteIt' v-if='$parent.deletable == "true" || deletable == "true"') delete

template#template-dictionary-adder
    div(class="mdl-card__actions mdl-card--border")
        .mdl-grid.cst-no-margin-no-padding
            .mdl-cell.mdl-cell--9-col
                div(class="mdl-textfield mdl-js-textfield cst-dictionary-adder-input")
                    | <input class="mdl-textfield__input" type="text">
            .mdl-cell.mdl-cell--3-col(style='text-align: right')
                | <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='addIt' title='Добавить'>
                |   <i class="material-icons">add</i>
                | </button>
                // a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cst-dictionaty-adder-submit" @click='addIt') Добавить

template#template-form-field
    li(class='mdl-list__item cst-no-margin-no-padding')
        span.mdl-list__item-primary-content
            label {{label}}
        span(class="mdl-list__item-secondary-content")
            |   <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" v-if="type === 'file'">
            |       <input class="mdl-textfield__input" placeholder="Выберите" type="text" id="uploadable-file-name" readonly/>
            |       <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
            |           <i class="material-icons">attach_file</i><input type="file" @change='setFileName' id="uploadable-file" :name='input'>
            |       </div>
            |   </div>
            |   <div :class="'mdl-textfield mdl-js-textfield cst-form-field' + (wide === 'true' ? '-wide' : '')" v-else>
            |       <input class="mdl-textfield__input" type="text" :name='input' :value='inputvalue'>
            |   </div>
