dialog(class="mdl-dialog cst-chart-dialog")
    h6(class="mdl-dialog__title")
        | &nbsp;
    .mdl-dialog__content
        .chart-holder
    .mdl-dialog__actions
        | <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" title='Закрыть'>
        |   <i class="material-icons">close</i>
        | </button>


