template#template-tab-reports
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.cst-reports-holder
        .mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row(style='visibility: hidden')
                    .mdl-layout-spacer
                    popup-menu(label='Заказчики'     dict='customers')
                    popup-menu(label='Ответственные' dict='supervisors')
                    popup-menu(label='Исполнители'   dict='staff')
                    popup-menu(label='Месторождения' dict='fields')
                    popup-menu(label='Типы скважин'  dict='welltypes')
                    popup-menu(label='Типы работ'    dict='worktypes')
        .mdl-layout__drawer.cst-drawer
            nav.mdl-navigation
                dict(dictid='reports' dictclass='cst-drawer-list' deletable='true' reverse='true' clickable='true')
        .mdl-layout__content
            h4.cst-report-placeholder Выберите отчет из списка.
