template#template-tab-dictionaries
    div
        row-3-of-3(
            cardid1='customers-dict'   title1='Заказчики'
            cardid2='supervisors-dict' title2='Ответственные'
            cardid3='staff-dict'       title3='Операторы'
        )
        row-3-of-3(
            cardid1='fields-dict'    title1='Месторождения'
            cardid2='welltypes-dict' title2='Типы скважин'
            cardid3='worktypes-dict' title3='Типы работ'
        )
        row-1-of-3(
            cardid='devices-dict'    title='Устройства'
        )
