- var stageTitle       = 'Название этапа'
- var stageBegin       = 'Начало этапа'
- var stageEnd         = 'Окончание этапа'

template#template-report-form-stage
    tr
        td(class="mdl-data-table__cell--non-numeric") {{title}}
        td(class="mdl-data-table__cell--non-numeric" style='width: 170px') {{begin}}
        td(class="mdl-data-table__cell--non-numeric" style='width: 170px') {{end}}
        td(align='center' style='width: 100px')
            a(href='#')
                i(class="material-icons" @click='viewRow')   search
                i(class="material-icons" @click='deleteRow') delete

template#template-report-form
    div
        form#report-fields(name='report-form')
            input(type='hidden' name='stages')
            .mdl-grid
                .mdl-cell.mdl-cell--3-col.mdl-cell--9-offset
                    | <a :href='"/data/" + reportid + ".csv"' target=_blank>Скачать csv-файл</a>
                .mdl-cell.mdl-cell--5-col.mdl-cell--1-offset
                    | <form-field label='Дата начала'   input='date'      :inputvalue='date.replace("T", " ")' ></form-field>
                    | <form-field label='Месторождение' input='of-fields' :inputvalue='field'></form-field>
                    | <form-field label='Куст'          input='bush'      :inputvalue='bush' ></form-field>
                    | <form-field label='Скважина'      input='well'      :inputvalue='well' ></form-field>
                    form-field(label='Тип скважины'     input='of-welltypes')
                .mdl-cell.mdl-cell--5-col.mdl-cell--1-offset
                    form-field(label='Заказчик'      input='of-customers')
                    form-field(label='Ответственный №1' input='of-supervisors-1')
                    form-field(label='Ответственный №2' input='of-supervisors-2')
                    form-field(label='Исполнитель №1'   input='of-staff-1')
                    form-field(label='Исполнитель №2'   input='of-staff-2')
                    form-field(label='Исполнитель №3'   input='of-staff-3')
        .mdl-grid
                #svg-holder.mdl-cell.mdl-cell--11-col.mdl-cell--1-offset
                #svg-foot-holder.mdl-cell.mdl-cell--11-col.mdl-cell--1-offset
                .mdl-cell.mdl-cell--2-col.mdl-cell--2-offset
                    label #{stageBegin}
                .mdl-cell.mdl-cell--2-col
                    label(id='stage-begin') 
                .mdl-cell.mdl-cell--2-col.mdl-cell--2-offset
                    label #{stageEnd}
                .mdl-cell.mdl-cell--2-col
                    label(id='stage-end') 
                .mdl-cell.mdl-cell--2-col.mdl-cell--1-offset
                    h6(style='margin: 13px 0') #{stageTitle}
                .mdl-cell.mdl-cell--6-col.mdl-cell--1-offset
                    form-field(label=stageName input='stage-title' wide='true' disabled='true')
                    input(type='hidden' id='stage-id')
                .mdl-cell.mdl-cell--2-col(style='text-align: right')
                    // button(class="mdl-button mdl-js-button mdl-button--raised" @click='addStage' id='stage-adder' disabled) Добавить
                    | <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='addStage' id='stage-adder' disabled>
                    |   <i class="material-icons">add</i>
                    | </button>
                .mdl-cell.mdl-cell--11-col.mdl-cell--1-offset
                    h4 Данные закачки
                .mdl-cell.mdl-cell--11-col.mdl-cell--1-offset
                    table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style='width: 100%')
                        thead
                            tr
                                th(class="mdl-data-table__cell--non-numeric") #{stageTitle}
                                th(class="mdl-data-table__cell--non-numeric") #{stageBegin}
                                th(class="mdl-data-table__cell--non-numeric") #{stageEnd}
                                th(class="mdl-data-table__cell--non-numeric") Действия
                        tbody(id='stage-holder')
                .mdl-cell.mdl-cell--2-col.mdl-cell--10-offset(style='text-align: right')
                    // button(class="mdl-button mdl-js-button mdl-button--raised" @click='doReport' id='report-doer') Сформировать
                    | <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='saveReport' title='Сохранить'>
                    |   <i class="material-icons">save</i>
                    | </button>
                    | <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='printReport' title='Подготовка к печати'>
                    |   <i class="material-icons">print</i>
                    | </button>
