template#template-tab-settings
    div
        form(action='/json/upload/logo' target='upload-frame' name='performers-form' method="post" enctype="multipart/form-data")
            .mdl-grid
                .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset
                    h4 Реквизиты исполнителя
                .mdl-cell.mdl-cell--4-col.mdl-cell--2-offset
                    ul(class="mdl-list cst-no-margin-no-padding")
                        form-field(label='Наименование' input='performers-name')
                        form-field(label='ИНН'          input='performers-inn')
                        form-field(label='Адрес'        input='performers-address')
                .mdl-cell.mdl-cell--4-col.mdl-cell--2-offset
                    ul(class="mdl-list cst-no-margin-no-padding")
                        form-field(label='Телефон'      input='performers-phone')
                        form-field(label='E-mail'       input='performers-email')
                        form-field(label='Логотип'      input='performers-logo' type='file')
                .mdl-cell.mdl-cell--2-col.mdl-cell--10-offset(style='text-align: right')
                    | <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" @click='savePerformersData' title='Сохранить'>
                    |   <i class="material-icons">save</i>
                    | </button>
        row-1-of-3(cardid='parameters-dict' title='Отслеживаемые параметры')

